@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --beige-light: #fffcf2;
    --beige-dark: #ccc5b9;
    --brown: #403d39;
    --charcoral: #252422;
    --orange: #eb5e28;
}

.section-beige {
    background-color: var(--beige-dark);
}

.section-beige-light {
    background-color: var(--beige-light);
    border-color: var(--charcoral);

    &:hover {
        background-color: var(--orange);
        transition: background-color 250ms linear;
    }
}

.button {
    background-color: var(--brown);

    &:hover {
        background-color: var(--orange);
        transition: background-color 150ms linear;
    }
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8AD;
    overflow-y: hidden;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
}

.example-button {
    background-color: var(--orange);
    color: white;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

body {
    background-color: var(--beige-light);
}