@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --beige-light: #fffcf2;
    --beige-dark: #ccc5b9;
    --brown: #403d39;
    --charcoral: #252422;
    --orange: #eb5e28;
}

.section-beige {
    background-color: var(--beige-dark);
}

.section-beige-light {
    background-color: var(--beige-light);
    border-color: var(--charcoral);

    &:hover {
        background-color: var(--orange);
        transition: background-color 250ms linear;
    }
}

body {
    background-color: var(--beige-light);
}